
<section id="doctors">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h5>TRUSTED CARE</h5>
                <h1>Our Doctors</h1>
            </div>
            <div class="container">
                <div class="row justify-content-evenly">
                    <p>Carrousel</p>
                    <partial name="~/Views/Doctors/_DoctorsCards.cshtml" />
                </div>
            </div>
        </div>
    </div>
</section>
