@model IEnumerable<SectionDoctorModel>

<div class="owl-carousel owl-theme">
    @if (Model is not null)
    {
        @foreach (var doctor in Model)
        {
            <div class="card mx-auto" style="width: 18rem;">
                <img src="@doctor.ImageURL" class="card-img-top" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title">@doctor.Name</h5>
                    <p class="card-text">@doctor.Title</p>
                    <a href="#" class="btn-small">view more</a>
                </div>
            </div>
        }
    }
</div>

