@model GlobalIndexViewModel

@{
    ViewData["Title"] = "Doctors";
}

<partial name="_SectionTitle" />

<div class="container">
    <div class="row justify-content-evenly">
            <partial name="_DoctorsCards" model="Model.Doctors" />
    </div>
</div>
