@model DoctorsIndexViewModel
<div class="title-section">
        @foreach (var title in Model.Titles)
        {   
    <div class="image-section">
        <img src="@title.ImageURL" alt="@title.Title"/>
    </div>
     <h1>@title.Title</h1>
        }
</div>