
@{
    ViewData["Title"] = "Services";
}

<partial name="_SectionTitle" />
<div class="pages-section">
    <div class="container">
        <div class="row g-4">
             <partial name="_ServicesCard" />
        </div>
    </div>
</div>