@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&family=Yeseva+One&display=swap');

:root {
    --primary-color: #1F2B6C;
    --secondary-color: #159EEC;
    --white-color: #FCFEFE;
    --black-color: #212124;
    --accent-color: #BFD2F8;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-family: 'Yeseva One', cursive;
    color: var(--primary-color);
}

h5{
    color: var(--secondary-color);
    font-weight: 500;
}

a{
    text-decoration:none;
}

header{
    background-color: var(--primary-color);
    height:80px;
    display:flex;
    justify-content:center;
    align-items:center
}
.nav-link, a{
    color: var(--white-color);
}

.more{
    color: var(--black-color)
}
#hero {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    height: 700px;
    display:flex;
    justify-content: center;
    align-items:center;
}

.title-section{
    margin-top:80px;
    height: 180px;
    display: flex;
    justify-content:center;
    align-items: center;
    position:relative;
}

.image-section{
    position:absolute;
    z-index: -1;
    height:100%;
    width:100%;
}

.image-section img{
    height:100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.btn-small {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 6px 20px;
    border-radius: 25px 25px;
}

    .btn-small:hover {
        filter: brightness(80%);
    }

.btn-dark {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 6px 20px;
    border-radius: 25px 25px;
}

    .btn-dark:hover {
        filter: brightness(80%);
        color: var(--white-color);
    }
.btn-middle {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    padding: 6px 40px;
    border-radius: 25px 25px;
}

#hero {
    width: 100%;
    background-image: url('/images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative
}

#hero::before{
    content: '';
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

#hero .content{
    z-index: 1;
}

.welcome{
    height: 300px;
    width: 100%;
    
}

.welcome img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    object-position:center -450px;
}

#appointment{
    margin-top: -50px;
    position:relative;
    z-index: 1;
    margin-left: 120px;
    margin-right: 120px;
    
}

#appointment .box{
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 300px;
    height:100px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

#appointment .box:hover {
        filter: brightness(85%);

}
#appointment h6{
    margin:0;
}

.image-service {
    width: 400px;
    height: 400px
}

.image-service img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

/* SERVICES */
.box-services {
    border: 1px solid var(--secondary-color);
    padding: 20px 0 0 20px 0;
    width: 200px;
    height:100px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.box-services:nth-child(even){
    background-color: var(--accent-color);
}

.more-services{
    background-color: var(--primary-color);
    width: 200px;
    color: var(--white-color);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Doctors*/
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}