<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h5>WELCOME TO HOSPITAL</h5>
                <h1>A Great Place to Receive Care</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</p>
                <a>Learn More &#x2192;</a>
            </div>
            <div class="col-12 welcome mt-4">
                <img src="~/images/welcome.jpg" alt="Welcome Picture" />
            </div>
        </div>
    </div>
</section>