@model GlobalIndexViewModel

@{
    ViewData["Title"] = "Home";
}

<div id="hero">
    <div class="container content">
        <div class="row justify-content-center align-items-center">
            <h5 class="fw-bold">CARING FOR LIFE</h5>
            <h1 class="display-5">Leading the Way</h1>
            <h1 class="display-5">in Medical Excellence</h1>
        </div>
        <div class="col-2">
            <button class="btn-small">Our Service</button>
        </div>
    </div>
</div>

<partial name="_BookAppointment" />
<partial name="~/Views/About/_AboutDescription.cshtml" />
<partial name="~/Views/Services/_ServicesDescription.cshtml" model="Model.TypeServices"/>
<partial name="~/Views/Doctors/_DoctorsDescription.cshtml" model="Model.Doctors" />
<partial name="~/Views/Contact/_ContactDescription.cshtml"/>