@{
    ViewData["Title"] = "Home";
}

<section id="hero">
    <div class="container content">
        <div class="row justify-content-center align-items-center">
            <h5>CARING FOR LIFE</h5>
            <h1>Leading the Way in Medical Excellence</h1>
        </div>
        <div class="col-2">
            <button class="btn-small">Our Service</button>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h5>WELCOME TO HOSPITAL</h5>
                <h1>A Great Place to Receive Care</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.</p>
                <a>Learn More &#x2192;</a>
            </div>
            <div class="col-12 welcome mt-4">
                <img src="~/images/welcome.jpg" alt="Welcome Picture"/>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h5>CARE YOU CAN  BELIEVE IN</h5>
                <h1>Our Services</h1>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-6">
                        <h3>A passion for putting patiens first</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque tortor ornare ornare. Quisque placerat scelerisque tortor ornare ornare Convallis felis vitae tortor augue. Velit nascetur proin massa in. Consequat faucibus porttitor enim et.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque placerat scelerisque. Convallis felis vitae tortor augue. Velit nascetur proin massa in.</p>
                    </div>
                    <div class="col-6">
                        <img src="" alt="Our Services Picture"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 text-center">
                <h5>TRUSTED CARE</h5>
                <h1>Our Doctors</h1>
            </div>
            <div class="col-10 text-center">
                <p>Carrousel....</p>
            </div>
        </div>
    </div>
</section>